* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #ededed;
  color: #eee;
  padding: 20px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
input, button {
  font-size: 16px;
  padding: 10px;
  margin: 4px 0;
  width: 100%;
  border-radius: .5rem;
  border: none;
}

button {
  cursor: pointer;
}

input {
  background: #ededed;
  outline-color: #3483fa;
  font-family: Arial, sans-serif;
  font-size: .875rem;
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: rgb(60, 60, 60);
}

label {
  color: #000000E6;
  font-size: .875rem;
  padding-left: .35rem;
}

pre {
  background: #222;
  padding: 15px;
  border-radius: .25rem;
  overflow-x: auto;
  max-height: 400px;
}

h1 {
  text-align: center;
  color: #363636;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .75rem;
}

.title img {
  flex-shrink: 0;
  width: 150px;
  margin-bottom: .5rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.213);
  max-width: 550px;
  width: 100%;
  box-shadow: 0 0px 6px 2px #0000001a;
}

.getData {
  display: none;
  width: 100%;
  gap: .5rem;
}

.form-date {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: .5rem;
}

.form-date input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: .25rem;
  box-sizing: border-box;
}

.form-date input[type="submit"] {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: .25rem;
  font-size: 16px;
  cursor: pointer;
}

.form-date input[type="submit"]:hover {
  background-color: #45a049;
}

.btnForm {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

#btnLogin {
  background-color: #3483fa;
  font-weight: 500;
  color: #fff;
}

#btnGetToken {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #000000E6;
}

#btnGetToken:disabled {
  opacity: .6;
}

#btnConsultar {
  background-color: #3483fa;
  font-weight: 500;
  color: #fff;
}

#btnConsultar:disabled {
  opacity: .6;
}

#downloadButton {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #000000E6;
}

#downloadButton:disabled {
  opacity: .6;
}

#state-div {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-size: 14px;
  padding: .5rem;
  border: 1px solid #0000004d;
  border-radius: 0.25rem;
}

.barProgress {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #ededed;
  padding: .125rem;
  border-radius: .35rem;
  margin-top: .5rem;
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.1);
}

.barInBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  background-color: #009f13;
  border-radius: .25rem;
}

.progressText {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.dateDiv {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.instrucoes {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-top: .5rem;
  font-size: 14px;
  padding: .5rem;
  border: 1px solid #0000004d;
  border-radius: 0.5rem;
}

.instrucoes code {
  background-color: #dcdcdc;
  padding: 2px 4px;
  font-family: monospace;
  border-radius: 3px;
}

.login {
  display: flex;
  flex-direction: column;
}

fieldset {
  border-radius: .25rem;
  border: 1px solid #0000004d;
}

legend {
  color: #333;
}